.bg-custom-primary{
    background-color: #289BDE;
}
.text-custom-primary{
    color: #289BDE;
}
.custom-btn{
    background-color: #289BDE;
    border-color: #289BDE;
}
.custom-button-outline{
    border-color: #289BDE;
}

.carousel-text{
    height: 100%;
    text-shadow: 2px 2px 5px black;
}