.bg-custom-primary{
    background-color: #289BDE;
}
.text-custom-primary{
    color: #289BDE;
}
.custom-btn{
    background-color: #289BDE;
    border-color: #289BDE;
}
.custom-button-outline{
    border-color: #289BDE;
}